{% extends 'base.html' %}

{% block contenido %}
    <h2>Restablecer contraseña</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit" href="{% url 'apps.usuarios:password_reset_done' %}" >Enviar por correo eletrónico </button>
    </form>
{%endblock%}
<center>
    <div class="container" style="margin-top:370px;">
        <div class="messages">
            {% for message in messages %}
                <table{% if messages.tags %} class="{{ messages.tags }}"{% endif %}>{{ message }}</table>
            {% endfor %}
        </div>
    </div>
</center>