{% extends 'base.html' %}
{% load static %}

<title> {% block title %} Restablecer contraseña {% endblock title %} </title>
{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}
{% block contenido %}


<div class="card text-bg-dark">
    <img class="card-img" src="{% static 'img/metaversociudad.jpeg' %}" alt="libreria">
    <div class="card-img-overlay">
        <br>
        <div style="text-align: center">
            <form method="POST">
                {% csrf_token %}
                {{ form }}

                <button type="submit" href="{% url 'apps.usuarios:password_reset_done' %}">Enviar por correo eletrónico
                </button>
            </form>
        </div>
    </div>

    <center>
        <div class="messages">
            {% for message in messages %}
            <table{% if messages.tags %} class="{{ messages.tags }}" {% endif %}>{{ message }}</table>
                {% endfor %}
        </div>
    </center>
</div>
{% endblock %}