{% extends 'base.html' %}
{% load static %}

<title> {% block title %} Registro de usuario {% endblock title %} </title>

{% block contenido %}
{% include 'navegacion.html' %}


<div class="card text-bg-dark">
    <img class="card-img" src="{% static 'img/metaverso.png' %}" alt="libreria">
    <div class="card-img-overlay">

        <div style="color: black;">
            <div class=" container">
                <div style="text-align: left">
                    <form method="POST" enctype="multipart/form-data" style="margin-top:300px: margin-bottom: 100px:">
                        <div class="messages">
                            {% for message in messages %}
                            <table{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</table>
                                {% endfor %}
                        </div>
                        {% csrf_token %}
                        <table>{{ form }}</table>
                        <div style="text-align: center;">
                            <br>
                            <button type="submit" class="btn btn-success btn-lg px-3">Registrar</button>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}