{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Administrar Noticias</title>
{% endblock %}

{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}

{% block contenido %}



<div class="card text-bg-dark">
    <img class="card-img" src="{% static 'img/metaversociudad.jpeg' %}" alt="libreria">
<div class="card-img-overlay">
   
    
    {% for i in noticias %}
            
    <br>
    <li>{{i.titulo}}</li>
    <li>{{i.fecha}}</li>
    <li>{{i.categoria}}</li>
   
    <a href = "{% url 'noticia_individual' i.id %}"> ver </a>

    {% empty %}
    <hi> No hay publicaciones </h1>
    
    {% endfor %}
    
    
</div>
</div>
</div>


{% endblock %}

