{% extends 'base.html' %}
{% load static %}
{% block titulo %} <title>Administrar Noticias</title> {% endblock %}

{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}

{% block contenido %}

<head>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<form method="GET">
  <label for="categoria">Categoría:</label>
  <select name="categoria" id="categoria">
    <option value="">Todas las categorías</option>
    {% for categoria in categorias %}
    <option value="{{ categoria.nombre }}">{{ categoria.nombre }}</option>
    {% endfor %}
  </select>

  <label for="fecha_orden">Ordenar por fecha:</label>
  <select name="fecha_orden" id="fecha_orden">
    <option value="">No ordenar</option>
    <option value="ascendente">Mas reciente</option>
    <option value="descendente">Mas antiguo</option>
  </select>

  <label for="orden_alfabetico">Ordenar alfabéticamente:</label>
  <select name="orden_alfabetico" id="orden_alfabetico">
    <option value="">No ordenar</option>
    <option value="ascendente">A-Z</option>
    <option value="descendente">Z-A</option>
  </select>

  <button type="submit">Filtrar</button>
</form>

<div class="card text-bg-dark">
  <img class="card-img" src="{% static 'img/metaversociudad.jpeg' %}" alt="">
  <div class="card-img-overlay">

    <div class="d-flex flex-wrap">
      {% for i in noticias %}
      <div class="card-color m-2 align-items-center" style="width: 18rem;">

        <img src="{{ i.imagen.url }}" class="card-img-top" alt="">



        <div class="card-body">
          <h5 class="card-title">{{i.titulo}}</h5>


          <ul class="list-group-item-color rounded list-group-flush">
            <li class="list-group-item">{{i.fecha}}</li>
            <li class="list-group-item">{{i.categoria}}</li>

          </ul>

          <a href="{% url 'noticia_individual' i.id %}" class="card-link">Ver publicación</a>

        </div>
      </div>

      {% empty %}

      <h1> No hay publicaciones </h1>
      {% endfor %}
    </div>
  </div>
</div>
</div>
{% endblock %}