* body {
    background: #8C56B2;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
}


h1 {
    font-size: 36px;
    color: #0B3E82;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #0B3E82;
    margin-bottom: 20px;
}

/* Estilos personalizados para la card gris */
.card-color {
    background-color: rgba(71, 61, 139, 0.85); /* Aquí puedes ajustar el tono de gris según tus preferencias */
}



.list-group-item-color {
    background-color: rgb(132, 69, 144);
  }

