{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Administrar Noticias</title>
{% endblock %}

{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}

{% block contenido %}

<a class="btn btn-primary" href="noticias/agregar_noticias">Agregar noticias</a>

<div class="card text-bg-dark">
    <img class="card-img" src="{% static 'img/metaversociudad.jpeg' %}" alt="libreria">
<div class="card-img-overlay">
   
    
    {% for i in noticias %}
            
    <br>
    <li>{{i.titulo}} <a class="btn btn-primary" href="{% url 'editar_noticia' i.id %}">editar</a> 
        <button onclick = "borrar({{i.id}})"> Borrar esta noticia</button></li>
    <img src="{{ i.imagen.url }}" width=200 height=200 alt="">
    <p>{{i.fecha}} <br>
    {{i.categoria}}</p>
    
   
    
    

    <script>
        function borrar(id){
            let desicion = confirm("Deseas borrar esta noticia?");
            if (desicion){
                window.location.replace("{% url 'eliminar_noticia' %}?id="+id);
            }
        }

    </script>
    
    {% empty %}
    <hi> No hay publicaciones </h1>
    
    {% endfor %}
    
    
</div>
</div>
</div>


{% endblock %}

