{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Administrar Noticias</title>
{% endblock %}

{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}

{% block contenido %}

<a class="btn btn-primary" href="noticias/agregar_noticias">Agregar noticias</a>

<div class="card text-bg-dark">
    <img class="card-img" src="{% static 'img/metaversociudad.jpeg' %}" alt="libreria">
<div class="card-img-overlay">
   
    
    {% for i in noticias %}
            
    <br>
    <li>{{i.titulo}}/
    {{i.fecha}}/
    {{i.categoria}}/
    <a class="btn btn-primary" href="">editar</a>
    </li>
    
    {% empty %}
    <hi> No hay publicaciones </h1>
    
    {% endfor %}
    
    
</div>
</div>
</div>


{% endblock %}

