{% extends 'base.html' %}
{% load static %}

<title> {% block title %} Contacto {% endblock title %} </title>
{% block contenido %}
{% include 'navegacion.html' %}

<div class="card text-bg-dark">
    <img class="card-img" src="{% static 'img/masmetav1.jpg' %}" alt="libreria">
    <div class="card-img-overlay">

        <div style="color: black;">
            <div class=" container">
                <div style="text-align: center">
                    <div class="container-fluid">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <br>
                            <button type="submit" class="btn btn-success btn-lg px-3">Enviar</button>
                            <br>
                        </form>
                        {% if form.errors %}
                        <div class="errors">
                            <ul>
                                {% for field in form %}
                                {% for error in field.errors %}
                                <li>{{ field.label }}: {{ error }}</li>
                                {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}