{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Inicio</title>
{% endblock %}
{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}
{% block contenido %}
<div class="card text-bg-dark">
    <img class="card-img" src="{% static 'img/metaversociudad.jpeg' %}" alt="libreria">
    <div class="card-img-overlay">
        <h3
            style="color: rgb(228, 227, 227); text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            Esta es una aplicacion para compartir informacion en relacion al METAVERSO.
        </h3>
        <h4
            style="text-align: center">
            Vas a encontrar  publicaciones relacionadas a este tema.
        </h4>
        <h5
            style="text-align: center"> 
            Para poder publicar necesitas estar registrado.
        </h5>
        
    



    </div>
</div>
<section style="margin-top: 10%;">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
           
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </div>
</section>
{% endblock %}