{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Modificar perfil</title>
{% endblock %}
{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}

{%block contenido%}

<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">

                <form action = "" method = "post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <input type ="submit" value ="enviar" class="btn btn-primary">

            </div>
        </div>

    </div>
</div>

{%endblock%}