{% extends 'base.html' %}
{% load static %}

<title> {% block title %} Nosotros {% endblock title %} </title>
{% block contenido %}
{% include 'navegacion.html' %}

<div class="card text-bg-dark">
    <img class="card-img" src="{% static 'img/masmetav3.jpg' %}" alt="libreria">
    <div class="card-img-overlay">

        <div style="color: black;">
            <div class="container">
                <br>
                <h2>Grupo 3 - Comision 4 - Informatorio 2023</h2>
                <h3 style="text-align: center;">
                    <div class="container-fluid">
                        <br>
                        <br>
                        <br>
                        <br>
                        </i> Mateo Gómez | <i class="fab fa-github"></i> <a href="https://github.com/mateojgomez"
                            target="_blank">mateojgomez</a> <i class="fab fa-linkedin"></i> <a
                            href="https://linkedin.com/in/mateo-jgomez/" target="_blank">mateo-jgomez</a>
                        <br>
                        <br>
                        </i> Federico Monzón | <i class="fab fa-github"></i> <a href="https://github.com/federmon"
                            target="_blank">federmon</a>
                        <br>
                        <br>
                        </i> Cristian Moreira | <i class="fab fa-github"></i> <a
                            href="https://github.com/moreiracristian" target="_blank">moreiracristian</a>
                        <br>
                        <br>
                        </i> Elizabeth Benítez | <i class="fab fa-instagram"></i> <a
                            href="https://www.instagram.com/elizabeths_96/" target="_blank">elizabeths_96</a>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </h3>
            </div>
        </div>
    </div>
    {% endblock %}