{% extends 'base.html' %}
{% load static %}

<title> {% block title %} Nosotros {% endblock title %} </title>
{% block contenido %}
{% include 'navegacion.html' %}

<div class="card text-bg-dark">
    <img class="card-img" src="{% static 'img/metaversociudad.jpeg' %}" alt="libreria">
    <div class="card-img-overlay">
        <div class="container-fluid">
            <h3 style="text-align: center">
                <br>
                <li>Mateo</li>
                <br>
                <li>Federico</li>
                <br>
                <li>Cristian Moreira</li>
                <br>
                <li>Elizabeth</li>
                <br>
            </h3>
        </div>
    </div>
</div>
{% endblock %}